<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      async function fazerLogin(email, senha) {
        try {
          const response = await axios.get("/api/login", {
            params: {
              email: email,
              senha: senha,
            },
          });
          console.log(response);
          const { userId } = response.data;
          alert(`Login efetuado com sucesso! userId: ${userId}`)
        } catch (error) {
          alert(error.message)
        }

      }
    </script>
  </head>
  <body>
    <form method="POST">
      Dados do usuário<br />
      Nome: <input type="text" name="nome" /><br />
      Email: <input type="text" name="email" /><br />
      Senha: <input type="password" name="senha" /><br />
      Confirma: <input type="password" name="confirma" /><br />
      <input type="submit" value="Enviar" />
    </form>

    <form method="POST" action="/login">
      Login<br />
      Email: <input type="text" name="email" required /><br />
      Senha: <input type="password" name="senha" required /><br />
      <input type="submit" value="Enviar" />
    </form>

    <!-- Form para receber email e senha e um botao -->
    <h3>Login via Axios</h3>
    <form action="Javascript:fazerLogin(email.value, senha.value)">
      <label for="email">Email:</label>
      <input type="text" id="email" />
      <label for="senha">Senha:</label>
      <input type="password" id="senha" />
      <button>Enviar</button>
    </form>
    <!-- Chamar a funcao acima para processar o login -->

    <pre>
      Fazer um novo form para o login da api, usar axios.

      Breakout room: fazer login

      Desafio: criar um novo usuario, login e logout.
    </pre>

    <pre><%=JSON.stringify(locals, null, 2)%></pre>

    <a href="/logout">Sair</a>
  </body>
</html>
