<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function fazerCadastro(nome, email, senha, confirma) {
        alert(JSON.stringify({nome, email, senha, confirma}, null, 2));
        /**
         * /api/login
         */
      }

      function fazerLogin(email, senha) {
        alert(`Login: ${email} ${senha}`);

        axios.get('/api/login', { params: {email, senha}}).then(results => {
          const { data } = results;
          alert(JSON.stringify(data, null, 2));
        }).catch(error => {          
          alert(error.message);
        });
      }

      function fazerLogout() {
        alert('logout');
        /**
         * /api/logout
         */

      }

      async function fazerLogin2(email, senha) {
        alert(`Login2: ${email} ${senha}`);

        try {
          const results = await axios.get('/api/login', { params: {email, senha }});
          const { data } = results;

          alert(JSON.stringify(data, null, 2));
        } catch(error) {
          alert(error.message);
        }
      }
    </script>
  </head>
  <body>
    <h1>CADASTRO VIA API</h1>
    Login<br />
    Nome: <input type="text" id="nome1" /><br />      
    Email: <input type="text" id="email1" required /><br />
    Senha: <input type="password" id="senha1" required /><br />
    Confirma: <input type="password" id="confirma1" /><br />
    <input type="button" value="Cadastrar" onclick="fazerCadastro(
      window.nome1.value,
       window.email1.value,
        window.senha1.value,
         window.confirma1.value)" />

    <h1>LOGIN VIA API</h1>
    Login<br />
    Email: <input type="text" id="email" required /><br />
    Senha: <input type="password" id="senha" required /><br />
    <input type="button" value="Enviar" onclick="fazerLogin2(window.email.value, window.senha.value)" />

    <h1>LOGOUT VIA API</h1>
    <input type="button" value="Enviar" onclick="fazerLogout()" />

    <div style="display: none">
      <form method="POST" >
        Dados do usuário<br />
        Nome: <input type="text" name="nome" /><br />
        Email: <input type="text" name="email" /><br />
        Senha: <input type="password" name="senha" /><br />
        Confirma: <input type="password" name="confirma" /><br />
        <input type="submit" value="Enviar" />
      </form>

      <form method="POST" action="/login" >
        Login<br />
        Email: <input type="text" name="email" required /><br />
        Senha: <input type="password" name="senha" required /><br />
        <input type="submit" value="Enviar" />
      </form>


      <!-- Form para receber email e senha e um botao -->
      <!-- Chamar a funcao acima para processar o login -->

      <pre>
        Fazer um novo form para o login da api, usar axios.

        Breakout room: fazer login

        Desafio: criar um novo usuario, login e logout.
      </pre>
      <pre><%=JSON.stringify(locals, null, 2)%></pre>

      <a href="/logout">Sair</a>
    </div>
  </body>
</html>
