<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form method="POST" >
      Dados do usuário<br />
      Nome: <input type="text" name="nome" /><br />
      Email: <input type="text" name="email" /><br />
      Senha: <input type="password" name="senha" /><br />
      Confirma: <input type="password" name="confirma" /><br />
      <input type="submit" value="Enviar" />
    </form>

    <form method="POST" action="/login" >
      Login<br />
      Email: <input type="text" name="email" required /><br />
      Senha: <input type="password" name="senha" required /><br />
      <input type="submit" value="Enviar" />
    </form>


    <pre>
      Fazer um novo form para o login da api, usar axios.

    </pre>

    <pre><%=JSON.stringify(locals, null, 2)%></pre>
    

    <a href="/logout">Sair</a>
  </body>
</html>
